*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/* header{
    position: relative;
    left:0;
    top:0;
    width:100%;
    height:80px;

} */

header h4{
    position: absolute;
    left: 10%;
    bottom:1rem;
    font-size:1.6rem;
}
/* splash screen */
.intro{
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    background-color:#161616;
    transition : 1s;
    font-family: poppins;
}
.logo-header{
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
}

.logo{
    position:relative;
    display:inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom:0;
    opacity:1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom:150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}




/* copiedsection */

body {
    font: 16px "Indie Flower";
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 2.25em;
  }
  
  h3 {
    font-size: 2em;
  }
  
  h4 {
    font-size: 1.75em;
  }
  
  p {
    font-size: 1.5em;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
    line-height: 1.375em;
  }
  
  /*Base*/
  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  /*Layout*/
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    font: 20px "Indie Flower";
  }
  
  .content {
    width: 60%;
  }
  
  /*Navigation*/
  nav {
    float: right;
    width: 5%;
    /*9.375em;/*150px*/
    min-height: 100%;
    background: #e9967a;
    color: #fff;
    overflow: hidden;
    transition: width 0.5s ease;
  }
  
  nav label {
    display: block;
    position: relative;
    width: 100%;
    padding: 0.25em 0;
    height: 2.5em;
    cursor: pointer;
  }
  nav label:before {
    content: "";
    position: absolute;
    width: 100%;
    font-family: fontAwesome;
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 0 #666;
    transition: all 0.5s ease;
  }
  nav label:hover:before {
    text-shadow: none;
  }
  
  :target {
    z-index: 2;
    opacity: 1;
  }
  
  /*Hidding mechanism*/
  input {
    display: none;
  }
  
  input:checked ~ section {
    width: 85%;
  }
  
  input:checked ~ nav {
    width: 15%;
  }
  
  input:checked ~ nav > label:before {
    content: "";
  }
  
  input:checked ~ nav > label + .navigation {
    display: flex;
  }
  
  /*close - "\f00d"*/
  .navigation {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  
  .navigation a {
    display: block;
    align-self: center;
    padding: 0.5em 0;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #666;
  }
  
  nav label,
  .navigation a {
    border-bottom: 1px dashed #eda790;
    transition: all 0.5s ease;
  }
  nav label:hover,
  .navigation a:hover {
    background: #e58564;
    text-shadow: none;
  }
  nav label:active,
  .navigation a:active {
    background: #eda790;
  }
  
  /*Sections*/
  section {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 95%;
    min-height: 100%;
    opacity: 0;
    overflow: hidden;
    transition: width 0.5s, opacity 0.5s;
  }
  
  .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 40px;
  }
  
  /*Home*/
  .sec-home {
    float: left;
    position: relative;
    background: #fff5ee;
    color: #e9967a;
    opacity: 1;
  }
  
  .sec-home a {
    color: #eda790;
    -webkit-text-decoration-style: dashed;
            text-decoration-style: dashed;
  }
  .sec-home a:hover {
    color: #e58564;
  }
  .sec-home a:active {
    color: #eda790;
  }
  
  .sec-home .content {
    height: 50%;
    text-align: center;
  }
  
  /*About*/
  .sec-about {
    background: #cd5c5c;
    color: #fff;
  }
  
  .sec-about .content {
    height: 55%;
    text-align: center;
  }
  
  /*Portfolio*/
  .sec-portfolio {
    background: #ffeb3b;
    overflow: hidden;
  }
  
  .sec-portfolio .col-big {
    float: left;
    position: relative;
    width: 25%;
    height: 20vw;
  }
  
  .sec-portfolio img {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    transition: all 0.5s ease;
  }
  .sec-portfolio img:hover {
    opacity: 1;
  }
  
  /*Contact*/
  .sec-contact {
    background: #f5deb3;
  }
  
  .soc-media {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .soc-media li {
    float: left;
  }
  
  .soc-media li:not(:first-child) a {
    margin-left: 0.75em;
  }
  
  .soc-media a {
    display: block;
    color: #aaa;
    font-size: 3em;
    text-decoration: none;
    transition: color 0.5s ease;
  }
  .soc-media a:hover {
    color: #333;
  }
  .soc-media a:active {
    color: #666;
  }
